@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;700;900&family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,100;1,400;1,600;1,900&display=swap');

:root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
	font-family: 'Playfair', serif;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background-color: #2c3e50;
}
.difficulty-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	height: 70px;
	border-radius: 5px;
}
#difficulty {
	appearance: none;
	width: 200px;
	height: 40px;
	padding: 5px;
	border-radius: 5px;
}
#setting-form label {
	width: 150px;
	color: white;
	border-radius: 5px;
}
#main {
	display: flex;
	margin-top: 15px;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
	width: 550px;
	max-width: 55%;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	height: 65vh;
	border-radius: 5px;
}

.btn-container {
	display: flex;
	border-radius: 5px;
	width: 100%;
	margin-left: 20px;
	margin-bottom: 10px;
}
h2 {
	margin-bottom: 0;
	margin-top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 90%;
	border-radius: 5px;
	text-align: center;
}
.active {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	margin-top: 20px;
	position: relative;
	border-radius: 5px;
}
#word {
	margin-top: 5px;
	border-radius: 5px;
}
.typing-place {
	display: block;
	margin-top: 0;
	margin-bottom: 0px;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	width: 50%;
}
.time-container,
.score-container {
	position: absolute;
	top: 50px;
}
.time-container {
	left: 0;
}
.score-container {
	right: 0;
}
#end-game-container.show {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hide {
	animation: hide 0.5s linear 1;
	animation-fill-mode: forwards;
}
.show {
	animation-fill-mode: forwards;
	animation: show 0.5s linear 1;
}
@keyframes hide {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-65px);
	}
}
@keyframes show {
	0% {
		transform: translateY(-65px);
	}
	100% {
		transform: translateY(0);
	}
}
.visable {
	display: flex;
}
.hidden {
	display: none;
}
